@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.kadwa-regular {
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
}

.kadwa-bold {
  font-family: "Kadwa", serif;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Kadwa', serif;
  position: relative;
}

body::after {
  content: '';  /* Required to make the pseudo-element appear */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/Dot.png');
  background-repeat: repeat;  /* Make sure the image repeats in both directions */
  background-position: top left;
  background-size: 50px 50px;  /* Scale the image to 80px by 80px (adjust as needed) */
  opacity: 0.2;  /* Set the opacity of the background image */
  z-index: -1;  /* Ensure the pseudo-element is behind the content */
}

