.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdfd;
  border-bottom: 7px solid #363636;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it's on top of other elements */
  width: 100%; /* Ensure it spans across the entire width of the page */
  padding: 0 2rem; /* Adjust padding if needed */
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navItem {
  flex: 1;
  padding: 1.5rem 1rem;
  background-color: #fdfdfd;
  color: #363636;
  font-size: 1.7rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
}

.navItem:hover {
  background-color: #dddddd;
  color: #363636;
}
