.card {
    position: relative;
    border: 7px solid #363636;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    margin-left: 22vw;
    margin-right: 22vw;
  }
  
.content {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
}

.content strong {
    font-size: 1.4rem;
    font-weight: 700;
}

.content ul {
padding-left: 1.5rem;
list-style-type: disc;
}

.content li {
margin-bottom: 0.5rem;
line-height: 1.5;
}

.timeline {
    position: relative;
    width: 40px;
    display: flex;
    flex-direction: column; /* Ensure stacking vertically */
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    height: 100%; /* Ensure it takes up full height of card */
}

.circle {
width: 24px;
height: 24px;
border-radius: 50%;
border: 5px solid #363636;
background-color: #fff;
position: relative;
top: 0;
}
